<p>Вас добавили на платформу MotorLMS в качестве {{ role }}, теперь Вы можете 
Добавлять Франчайзеров, создавать рабочие пространства и работать с документами.</p>
<p>Ваш логин для входа: {{ name }},</p>
<p>Ваш пароль для входа: {{ password }},</p>

<p>If you did not request this email you can safely ignore it.</p>
