<html>

<head>
    <meta name="color-scheme" content="light">
    <meta name="supported-color-schemes" content="light">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="http://localhost:3000/public/style.css" rel="stylesheet">
</head>

<body>
    <div class='email-container'>
        <img class='logo' width='40' src='https://motorlms.ru/img/icon.svg' />
        <p class='line'>{{ name }}, ваш временный единаразовый пароль,</p>
        <p class='line'>{{code}}</p>
    </div>
</body>

</html>